<%- include('../partials/header.ejs') %>
    <main class="events">
        <section>
            <% if(events.length) { %>
                <p>Select event to view details</p>
                <% } else { %>
                    <p>There are no events to display</p>
                    <% } %>

                        <h2>Event Categories</h2>

                        <% categories.forEach(category=> { %>
                            <div class="category">
                                <h2>
                                    <%= category %>
                                </h2>
                                <ul>
                                    <% events.filter(event=> event.category === category).forEach(event => { %>
                                        <li><a href="/events/<%= event._id %>">
                                                <%= event.title %>
                                            </a></li>
                                        <% }); %>
                                </ul>
                            </div>
                            <% }); %>
        </section>
    </main>
    <%- include('../partials/footer.ejs') %>